# Carpetas de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/  

# Archivos temporales de VSCode
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos generados automáticamente (gráficas, etc.)
static/*.png
