<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conceptos</title>
</head>
<body>
    <div>
    <iframe width="600" height="400" frameBorder="0" src="https://www.mindmeister.com/maps/public_map_shell/3821264198/clasificaci-n?width=600&height=400&z=auto&no_share=1&no_logo=1" scrolling="no" style="overflow:hidden;margin-bottom:5px">Your browser is not able to display frames. Please visit <a href="https://www.mindmeister.com/3821264198/clasificaci-n" target="_blank">Clasificación</a> on MindMeister.</iframe>
    </div>
</body>
</html>