<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename ='style.css')}}">
    <title>Portada</title>
</head>
<body>
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/11/Logo_Universidad_de_Cundinamarca.png" alt="logo" width="500px" height="250px">
    <h1>Universidad de cundinamarca</h1>
    <br>
    <h2>Machine Learning</h2>
    <br>
    <h2>ingenieria de sistemas y computacion</h2>
    <br>
    <h3>Luis Nicolas Bernal Silva</h3>
    <h3>Juan Andres Pinzon Carillo</h3>
    <h3>Juan David Hernandez Cardenas</h3>
    <h3>Carlos Andres Romero Rodriguez</h3>
    <h4>Extension chia</h4>
    <h4>2025</h4>
</body>
</html>